@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#nav {
  position: relative;
  height: 13vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  /* border: 2px solid red; */
  color: gray;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#nav > img {
  height: 50%;
}
#nav > img:hover {
  cursor: pointer;
}
#dropdown {
  height: 100%;
  padding-left: 20px;
  display: flex;
  /* border: 1px solid grey; */
  align-items: center;
}
#dropdown ul {
  display: inline-flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
#dropdown > ul,
#dropdown > ul > li {
  height: 100%;
}
#dropdown > ul > li > a {
  height: 100%;
  display: flex;
  align-items: center;
}
#dropdown > ul > li > a:hover {
  color: blue;
  border-bottom: 3px solid blue;
  border-radius: 2px;
}

#dropdown > ul > li > a {
  text-decoration: none;
}

.dropdown-content {
  display: none;
}

#dropdown ul li:hover > .dropdown-content {
  display: block;
  position: absolute;
  width: 16vw;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
#dropdown ul li:hover > .dropdown-content ul {
  display: block;
}
.dropdown-content ul {
  padding: 25px 20px;
  text-align: left;
}
.dropdown-content > ul > li:last-child {
  margin-top: 15px;
}
.dropdown-content > ul > li > a {
  text-decoration: none;
}
.dropdown-content > ul > li > a:hover {
  color: blue;
}

/* body part -----------------------------------------------*/
#nav + h1 {
  background-color: #f0f2f5;
  padding-top: 10vh;
  padding-left: 2vw;
  font-weight: bolder;
}

/* general purpose uses----------------------------------------------- */
.bl {
  color: blue;
  font-size: 12x;
}
.bl:hover {
  cursor: pointer;
}
.gr{
  font: 12px;
  color: grey;
}
.name{
  font-weight: bold;
}
.icon{
  display: inline-flex;
  width: 100px;
  justify-content: space-between;
}
.icon:hover{
  cursor: pointer;
 
}
.icon i:hover{
  color: blue;
}

/* --------------------------------------------------body part main */
#d1 {
  padding: 5vh 1vw 5vh 2vw;
  background-color: #f0f2f5;
  display: flex;
  justify-content: space-between;
}
#big1 {
  border-radius: 10px;
  width: 115%;
}
#big1r {
  position: absolute;
  width: 48%;
  top: 98%;
  left: 5%;
  padding: 15px 25px;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  background-color: #fff;
  line-height: 40px;
  gap: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
#big1r > h1 {
  font-size: 30px;
}
#big1r > div {
  display: flex;
  align-items: center;
  justify-content:space-between ;
}
.writer{
  display: flex;
  gap: 20px;
  align-items: center;
}
.writer>img{
  width: 60px;
  height: 60px;
}
.writer>div>p:last-child{
  margin-top: -15px;
}
a{
 text-decoration: none;
 color: black;
}
a:hover{
  text-decoration: underline;

}
/* small cards  */
#d1 > div:last-child {
  width: 41%;
  display: flex;
  flex-direction: column;
  /* margin-bottom:20px ; */
  gap: 30px;
}
.small1 {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid rgb(212, 203, 203);
  padding-bottom: 20px;
}
.small1:last-child {
  border: none;
}
.small1 > div>a:last-child {
  font-size: 22px;
  font-weight: bold;
}
.small1 > img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
}
#d2 {
  padding: 15vh 1vw 20vh 2vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 2px solid blue; */
}
.recent{
  display: grid;
  width: 100%;
  grid-template-columns:1fr 3fr;
  row-gap: 25px;
  column-gap: 15px;
}
.recent>div{
  /* border: 2px solid yellow; */
  height: 230px;
}
.recent>div>img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 25px;
  border-radius: 10px;
  border: 1px solid rgb(231, 230, 230);
}
.content:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content>div>div:first-child{
  display: flex;
  gap: 15px;
  align-items: center;
}
.content>div>div>img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#foot{
  background-color:black;
  color: white;
  height: 35vh;
}
#foot>div:first-child{
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 0px 2vw;
}
#foot>div>div:first-child{
  height: 35%;
  width: 10%;
  /* border: 2px solid
  red; */
}
#foot>div>div:last-child{
  height: 35%;
  width: 25%;
  /* border: 2px solid
  red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#foot>div>div:last-child>span{
  font-size: 18px;
  font-weight: bold;
}
#foot>div:first-child>div>img{
  height: 100%;
  width: 100%;
}
#icon-foot{
  width: 60%;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
}
#icon-foot>a{
  height: 100%;
  width: 3vw;
  background-color: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
#icon-foot>a:hover{
  background-color: blue;
}

